@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #F2F2F2;
}

header {
    display: flex;
    align-items: center;
    height: 200px;
    background-color: rgba(101, 22, 175, 0.26);
}

.section1 {
    display: flex;
    width: 100%;
}

.fa-solid {
    font-size: 21px;
    margin-right: 5px;
    margin-left: 10px;
    color: #63458C;
}

.logo {
    display: flex;
    font-size: 30px;
    font-family: 'Poetsen One';
    color: #63458C;
    margin-right: 60px;
    margin-left: 30px;

}

.barra-de-pesquisa {
    height: 28px;
    width: 600px;
    border-color: #63458C solid;
}

.pesquisa {
    width: 42em;
    margin: auto;
}


.carrinho {
    display: flex;
    justify-content: center;
    width: 350px;
    text-decoration: none;
}

.carrinho a{
    text-decoration: none;
}

.section2 {
    height: 29px;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.192);
    text-decoration: none;
}

.links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-top: 4px;
    align-items: center;
}

.links a {
    text-decoration: none;
}

.topicos{
    padding-bottom: 30px;
}

.section3{
    display: flex;
    margin-top: 40px;
    margin-bottom: 150PX;
    justify-content: center;
    gap: 25px;
}

.banner{
    display: flex;
    height: 260px;
}

.books-and-headphone{
    display: flex;
    height: 250px;
    border-radius: 30px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.281);
}

.frase{
    color: #9B7FCB;
    width: 40%;
    font-size: 30px;
    font-family: Poppins, cursive;
    text-align: center;
    align-items: center;
    align-content: center;
    font-weight: bold;
}

.section4{
    display: flex;
    width: 100%;
    margin-top: 30px;
    margin-bottom:200px;
}

.titulo-categoria{
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
    color: rgba(102, 37, 163, 0.582);
}

.secao-mais-vendidos{
    margin-bottom: 85px;
}

/*Carrossel*/

.carrossel {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1200px; /* Ajuste conforme necessário */
    margin: 0 auto;
    overflow: hidden; /* Impede o transbordamento dos slides */
}

.container-trilha-carrossel {
    overflow: hidden;
    width: 100%; /* Para que os slides fiquem dentro do container */
}

.trilha-carrossel {
    display: flex;
    transition: transform 0.5s ease; /* Animação suave */
}

.slide-carrossel {
    display: flex;
    flex: 0 0 100%; /* Cada slide ocupa 100% da largura do container */
    justify-content: space-between; /* Espaço uniforme entre os cards */
    padding: 20px; 
}

.card-carrossel {
    flex: 0 0 30%; /* Cada card ocupa 30% do slide */
    text-align: center;
    z-index: 1;
}

.card-carrossel img {
    height: auto;
    margin-bottom: 15px;
}

.anterior, .proximo {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.anterior {
    left: 10px;
    padding: 10px;
    z-index: 9999;
    position: absolute;
}

.proximo {
    right: 10px;
    z-index: 9999;
    position: absolute;

}

.btn-comprar {
    background-color: rgba(101, 22, 175, 0.26);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-comprar:hover {
    background-color: #f1b72f;
}

